<footer class="bg-dark text-white shadow-sm py-3">
    <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 text-lg">
        <div>&copy; {% now "Y" %} Centinela</div>
        <a href="{% url 'index_view' %}" class="text-decoration-none text-white" 
           onmouseover="this.style.color='#0d6efd'" onmouseout="this.style.color='white'">
            Acerca de
        </a>
        <a href="{% url 'index_view' %}" class="text-decoration-none text-white" 
           onmouseover="this.style.color='#0d6efd'" onmouseout="this.style.color='white'">
            Contacto
        </a>
    </div>
</footer>
