<!-- templates/base/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Centinela - Escaneo de vulnerabilidades{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body style="background-image: url('/static/img/fondo-login-registro.jpg'); 
             background-size: cover; 
             background-position: center; 
             min-height: 100vh; display: flex; flex-direction: column;">

    <!-- Header dinámico basado en el tipo de usuario -->
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            {% include 'components/headers/header_admin.html' %}
        {% else %}
            {% include 'components/headers/header_user.html' %}
        {% endif %}
    {% else %}
        {% include 'components/headers/header_guest.html' %}
    {% endif %}

    <!-- Contenido principal -->
    <main class="container my-4 flex-grow-1">


        <!-- Mensajes del sistema -->
        {% if messages %}
        <div class="d-flex flex-column align-items-center mb-3">
            {% for message in messages %}
            <div class="alert alert-warning text-center w-100" style="max-width: 600px;">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}



        

        {% block content %}{% endblock %}
    </main>

    <!-- Footer común -->
    {% include 'components/footers/footer.html' %}

    <!-- JavaScript -->
    {% block extra_js %}
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
</body>
</html>
