<!-- templates/components/headers/header_admin.html -->
{% extends 'components/headers/header_base.html' %}

{% block header_title %}
    <h1 class="h5 fw-bold fs-4">
        Hola admin 
        <span class="fw-semibold text-primary" style="transition: color 0.2s;" 
              onmouseover="this.style.color='#0d6efd'" 
              onmouseout="this.style.color='white'">
            {{ user.get_full_name|default:user.username }} !
        </span>
    </h1>
{% endblock %}

{% block header_links %}
    {% with link_class="text-decoration-none text-white fs-5 nav-link fw-bold" %}

    <a href="{% url 'admin_dashboard' %}" class="{{ link_class }}">
        <i class="bi bi-bar-chart-fill"></i>
        Dashboard | </a>

    <a href="{% url 'admin_usuarios' %}" class="{{ link_class }}">
        <i class="bi bi-person"></i>
        Usuarios | </a>

    <a href="{% url 'admin_escaneos' %}" class="{{ link_class }}">
        <i class="bi bi-file-earmark-text"></i>
        Escaneos | </a>

    <a href="{% url 'mi_perfil_view' %}" class="{{ link_class }}">
        <i class="bi bi-person"></i>
        Perfil</a>

    {% endwith %}
{% endblock %}

{% block user_actions %}
    <a href="{% url 'logout_view' %}" class="btn btn-danger btn-md fw-bold">
        Cerrar Sesión
    </a>
{% endblock %}
