{% load static %}

<div class="bg-light rounded shadow p-3 w-100" style="height: auto; display: flex; flex-direction: column; justify-content: space-between; overflow: hidden; font-size: 0.875rem;">
    
    <!-- Header grid -->
    <div class="container">
        <!-- Fila 1: nombre del módulo y botón reintentar -->
        <div class="row g-3 align-items-center">
            <!-- Nombre del módulo -->
            <div class="col text-truncate fw-semibold" style="font-size: 1.125rem; color: #212529;">
                <span class="module_name text-uppercase">Cargando...</span>
            </div>

            <!-- Botón Reintentar -->
            <!-- <div class="col d-flex justify-content-end">
                <button class="btn btn-primary btn-sm">
                    Reintentar módulo
                </button>
            </div> -->
        </div>

        <!-- Fila 2: estado e IA -->
        <div class="row g-3 align-items-center mt-1">
            <!-- Estado del módulo -->
            <div class="col" style="color: #495057; font-size: 0.875rem;">
                Estado: 
                <span id="module-status" class="fw-semibold text-success">Completado</span>
            </div>

            <!-- Integración con IA -->
            <div class="col d-flex justify-content-end">
                <button class="btn btn-outline-secondary btn-sm btn-analisis-ia" data-module-name="">
                    🤖 Explicación con IA
                </button>
            </div>
        </div>
    </div>


    <!-- DIV de errores -->
    <div class="container-errores alert-danger mt-3 p-2 rounded d-none" style="max-height: 200px; overflow:auto; font-size: 0.875rem; background-color:indianred;">
        <!-- Errores del módulo -->
    </div>

    <!-- DIV de análisis IA (mejorado) -->
    <div class="container-analisis-ia mt-3 p-3 rounded-3 border d-none shadow-sm bg-primary" 
        style="font-size: 0.9rem;">
        <div class="d-flex align-items-start gap-3">
            <span class="badge px-3 py-2 analisis-badge text-light fw-bold shadow-sm text-uppercase">
            Riesgo
            </span>
            <p class="mb-0 analisis-texto text-white fw-bold" style="line-height: 1.4;"></p>
        </div>
    </div>


    <!-- Contenido dinámico -->
    {% block module_content %}
    {% endblock %}

</div>

