{% extends 'modules/base_visuals.html' %}
{% load static %}

{% block module_name %}DNS{% endblock %}


<!-- aca va el grafico -->
{% block module_content %}
<div class="space-y-6">
  <!-- Contenedor gráfico -->
  <div class="grafico-container">
    <canvas id="dnsChart" width="" height=""></canvas>
  </div>

  <!-- Tabla de resultados -->
  <table class="border text-sm">
    <thead class="bg-gray-100">
      <tr>
        <th class="border">Tipo</th>
        <th class="border">Valores</th>
        <th class="border">Errores</th>
      </tr>
    </thead>
    <tbody id="dnsTableBody"></tbody>
  </table>
</div>
{% endblock %}
